$pink-dark: #5D0065;
$pink-light: #90009F;
$gray: #7A7A7A;


// Responsive
// Малые девайсы («ландшафтные телефоны», >= 576px)
$screen-sm-min:576px;

// Средние девайсы («таблетки», >= 768px)
$screen-md-min:768px;

// Большие девайсы (десктопы, >= 992px)
$screen-lg-min:992px;

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
$screen-xl-min:1200px;

$screen-xs-max:575px;
$screen-sm-max:767px;
$screen-md-max:991px;
$screen-lg-max:1199px;
