
.contact {
    background: url('../images/BG-Vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: 100vh;
    padding-top: 70px;
}

.avatar {

    img {
        position: relative;

    }

    &::after {
        content: url('../images/span-natalya.svg');
        display: block;
        position: absolute;
        bottom: -100px;
        left: -70px;
    }
}


.about-natalya {
    h4 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}

.about-me {
    position: absolute;
    width: 700px;
    display: inline-block;
    border: 3px solid;
    border-image: linear-gradient(98deg, rgba(57, 1, 62, 1) 0%, rgba(99, 0, 108, 1) 17%, rgba(146, 0, 161, 1) 48%, rgba(99, 0, 108, 1) 69%, rgba(57, 1, 62, 1) 100%);
    border-image-slice: 1;
    padding: 40px;
    bottom: -170px;
    left: 420px;
    transition: all .44s;
    z-index: -1;
}


@media (max-width: 1440px) {
    .contact-block {
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: center;
    }

    .contact-wrap {
        max-width: 75%;
        margin-top: 20px;
        margin: 0 auto;

    }

    .about-me {
        position: absolute;
        bottom: 100px;
        width: 500px;
    }

    .about-block {
        max-width: 70%;
    }
}

@media (max-width: 1050px) {
    .about-me {
        bottom: 30px;
        width: 400px;  
    }
}

@media (max-width: $screen-md-max) {
    .about-me {
        display: none;
    }
}

@media (max-width: $screen-sm-max) {
    .contact {
        height: 110vh;
    }
}

@media (max-width: $screen-xs-max) {
    .contact {
        height: 1370px;
    }
}