.origin {
    background: url('../images/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 100vh;
    // padding-top: 80px;

    &-block {
        align-items: center;
        // margin-top: 200px;

        h1 {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 100px;
            color: $pink-light;
        }

        p {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            color: $pink-light;
        }

        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
        }
    }

    &-bottom {
        padding-top: 200px;
    }
}

.grap {
    margin-top: 100px;
}

.down-block {
    cursor: pointer;
    position: relative;
    color: $pink-light;
    transition: all .33s;
    text-shadow: 0px 0px 60px #E700FF;


    &:hover {
        text-decoration: none;
        color: #fff;
    // box-shadow: 0px 0px 60px #E700FF;

    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;

        height: 100%;
        width: 100%;
        z-index: -2;
    }

    &__img {
        
    }
    
    p {
        text-shadow: -2px -4px 20px #e700ff;
    }
}

.post, .tel {
    a {
        color: #BDBDBD;
        transition: all .35s;
        font-size: 20px;

        &:hover {
            color: $pink-light;
        }
    }
}

.link-item {
    a {
        img {
            transition: all .33s;
            
            &:hover {
                transform: scale(1.33);
            }
        }
    }   
}

@media (min-width: $screen-lg-min) and (max-width: 1024px) {
    .grap {
        margin-top: 70px !important;
    }
}

@media (max-width: $screen-md-max) {
    .grap {
        margin-top: 0px !important;
    }
}



@media (max-width: 625px) {
    .grap {
        margin-top: 0px !important;
    }
}



@media (max-width: $screen-md-max) {
    .down-wrapper {
        margin-top: 300px;
    }

    .origin-block h1 {
        font-size: 64px;
    }
}

@media (max-width: 1024px) {
    .origin-bottom {
        padding-top: 400px;
    }
}

@media (max-width: 790px) {
    .down-wrapper{
        margin-top: 300px;
    }
}

@media (max-width: 504px) {
    .down-wrapper {
        margin-top: 230px;
    }
}

@media (max-width: 375px) {
    .origin-bottom {
        padding-top: 185px;
    }
}

@media (max-width: 576px) {
    .origin-bottom {
        padding-top: 220px
    }

    .origin-block h1 {
        font-size: 44px
    }

    .origin-block p {
        font-size: 22px;
    }
}

@media (max-width: 425px) {
    
}

@media (max-width: 375px) {
    .origin-bottom {
        padding-top: 180px;
    }

    .down-wrapper {
        margin-top: 200px;
    }
}