.process {

    &-wrapper {
        // border-bottom: 3px solid $pink-light;
    }

    &-item {

        &__title {
            font-weight: bold;
            font-size: 16px;
        }

        &__count {
            font-family: 'Megante';
            font-size: 64px;
        }

    }
}