.promo {

    &-pic {
        cursor: pointer;
        position: relative;
        z-index: 111;

        &-span {
            &:after {
                content: url('../images/span.svg');
                position: absolute;
                bottom: -100px;
                left: -100px;
                display: block;
                z-index: 100;
            }
        }
    }

    .help {
        position: absolute;
        width: 700px;
        height: 200px;
        display: inline-block;
        border: 3px solid;
        border-image: linear-gradient(98deg, rgba(57, 1, 62, 1) 0%, rgba(99, 0, 108, 1) 17%, rgba(146, 0, 161, 1) 48%, rgba(99, 0, 108, 1) 69%, rgba(57, 1, 62, 1) 100%);
        border-image-slice: 1;
        padding: 20px;
        margin: 0 55px;
        top: -10px;
        left: 100px;
        opacity: 0;
        transition: all .44s;
        z-index: -1;

        

        &-two {
            margin: 0 35px;
            left: -340px;
            z-index: -1;
        }

        .houses {
            width: 300px;


            p {
                width: 280px;
            }



            .watch {
                color: #ffffff;
                text-decoration: none;
                &:hover {
                    color: $gray;
                }
            }
        }
    }

    .help.active {
        opacity: 1;
        transform: translateX(25px);

    }
    .help-two.active {
        opacity: 1;
        transform: translateX(-20px);
    }

    .house-tw.active {
        opacity: 1;
        transform: translateX(25px);
    }

    .house-th.active {
        opacity: 1;
        transform: translateX(-20px)
    }
    
    .house {
        position: absolute;
        width: 700px;
        height: 200px;
        display: inline-block;
        border: 3px solid;
        border-image: linear-gradient(98deg, rgba(57, 1, 62, 1) 0%, rgba(99, 0, 108, 1) 17%, rgba(146, 0, 161, 1) 48%, rgba(99, 0, 108, 1) 69%, rgba(57, 1, 62, 1) 100%);
        border-image-slice: 1;
        padding: 20px;
        margin: 0 55px;
        top: -10px;
        left: 100px;
        opacity: 0;
        transition: all .44s;
        z-index: -1;

        &-tw {
            height: 240px;
        }

        &-two {
            margin: 0 35px;
            left: -340px;
            z-index: -1;
        }

        .houses {
            width: 300px;

            p {
                width: 280px;
            }

            .watch {
                color: #ffffff;
                text-decoration: none;
                &:hover {
                    color: $gray;
                }
            }
        }
    }


    .house.active {
        opacity: 1;
    }
}


@media (max-width: 1565px) {
    .projects-lists {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projects-item {
        margin-top: 40px;
    }
}

@media (min-width: 1301px ) {
    #mob1,
    #mob2,
    #mob3,
    #mob4 {
        display: none !important;
    }
} 

@media (max-width: 1300px) {
    .promo .help,
    .promo .house {
        margin: 0 -20px;
    }

    #log1,
    #log2,
    #log3,
    #log4 {
        display: none !important;
    }


    .promo-pic {
        position: relative;
    }

    #mob1,
    #mob2,
    #mob3,
    #mob4 {
        display: flex;
        position: absolute;
        // display: block !important;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000c2;
    }

    .watch {
        color: #ffabff;       
    }
}

