.process {

    &-item {

        &__title {
            font-weight: bold;
            font-size: 16px;
        }

        &__count {
            font-family: 'Megante';
            font-size: 64px;
        }

    }
}