.promo {

    &-pic {
        cursor: pointer;
        position: relative;
        z-index: 111;

        &-span {
            &:after {
                content: url('../images/span.svg');
                position: absolute;
                bottom: -100px;
                left: -100px;
                display: block;
                z-index: 100;
            }
        }

        

        
    }


    .help {
        position: absolute;
        width: 700px;
        height: 200px;
        display: inline-block;
        border: 3px solid;
        border-image: linear-gradient(98deg, rgba(57, 1, 62, 1) 0%, rgba(99, 0, 108, 1) 17%, rgba(146, 0, 161, 1) 48%, rgba(99, 0, 108, 1) 69%, rgba(57, 1, 62, 1) 100%);
        border-image-slice: 1;
        padding: 20px;
        margin: 0 55px;
        top: -10px;
        left: 100px;
        opacity: 0;
        transition: all .44s;
        z-index: -1;

        

        &-two {
            margin: 0 35px;
            left: -340px;
            z-index: -1;
        }

        .houses {
            width: 300px;

            p {
                width: 280px;
            }

            .watch {
                color: #ffffff;
                text-decoration: none;
                &:hover {
                    color: $gray;
                }
            }
        }
    }

    .help.active {
        opacity: 1;
        transform: translateX(100px);

    }
    .help-two.active {
        opacity: 1;
        transform: translateX(-100px);
    }

    .house-tw.active {
        opacity: 1;
        transform: translateX(100px);
    }

    .house-th.active {
        opacity: 1;
        transform: translateX(-100px)
    }
    
    .house {
        position: absolute;
        width: 700px;
        height: 200px;
        display: inline-block;
        border: 3px solid;
        border-image: linear-gradient(98deg, rgba(57, 1, 62, 1) 0%, rgba(99, 0, 108, 1) 17%, rgba(146, 0, 161, 1) 48%, rgba(99, 0, 108, 1) 69%, rgba(57, 1, 62, 1) 100%);
        border-image-slice: 1;
        padding: 20px;
        margin: 0 55px;
        top: -10px;
        left: 100px;
        opacity: 0;
        transition: all .44s;
        z-index: -1;

        &-two {
            margin: 0 35px;
            left: -340px;
            z-index: -1;
        }

        .houses {
            width: 300px;

            p {
                width: 280px;
            }

            .watch {
                color: #ffffff;
                text-decoration: none;
                &:hover {
                    color: $gray;
                }
            }
        }
    }


    .house.active {
        opacity: 1;
    }
}